.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
.d-flex-justify-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-none {
    display: none;
}